<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="Login Form">
        <h1>Login Form</h1>
        <form action="/login" method="post">
            <p>email</p>
            <input type="text" id="a" name="email" placeholder="email">

            <p>password:</p>
            <input type="password" id="b" name="password" placeholder="password">

            <button type="submit">Login</button>
        </form>

    </div>

</body>

</html>